.modal {display:none;bottom:0;left:0;opacity:1;overflow:hidden;position:fixed;right:0;top:0;z-index:30;color:#fff;align-items:center;justify-content:center}
.modal.modal--quick-shop{align-items:flex-start;}
.modal a,.modal a:hover{color:inherit;}

.modal .btn:not([disabled]):not(.btn--secondary):not(.btn--body),.modal .btn:not([disabled]):not(.btn--secondary):not(.btn--body):hover{
    color:{{ settings.color_button_text | default: "#fff" }};
    color:var(--colorBtnPrimaryText);
  }

.modal-open .modal .modal__inner{
      animation:modal-open 0.5s forwards;
    }

.modal-open .modal:before{
      content:"";
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:{{ settings.color_scheme.background | default: "#000" }};
      background-color:var(--colorModalBg);{% endcomment %}
      animation:overlay-on 0.5s forwards;
      cursor:pointer;
    }

.modal-closing .modal .modal__inner{
      animation:modal-closing 0.5s forwards;
    }

.modal-closing .modal:before{
      content:"";
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:{{ settings.color_modal_overlays | default: "#000" }};
      background-color:var(--colorModalBg);
      animation:overlay-off 0.5s forwards;
    }

.modal-open--solid .modal:before{
    background-color:{{ settings.color_modal_overlays | default: "#000" }};
    background-color:var(--colorModalBg)
}

.modal-open .modal--solid:before{
      background-color:#000;
      animation:full-overlay-on 0.5s forwards;
    }

.modal-closing .modal--solid:before{
      background-color:#000;
      animation:full-overlay-off 0.5s forwards;
    }

.modal--is-closing{
  display:flex !important;
  overflow:hidden;
}

.modal--is-active{
  display:flex !important;
  overflow:hidden;
}

@media only screen and (min-width:769px){
  .modal-open{
    overflow:hidden;
  }
}

.modal__inner{
  transform-style:preserve-3d;
  flex:0 1 auto;
  margin:15px;
  max-width:calc(100% - 15px);
  display:flex;
  align-items:center
}

@media only screen and (min-width:769px){

.modal__inner{
    margin:40px;
    max-width:calc(100% - 80px)
}
  }


.modal__inner img{display:block;max-height:90vh;}
.modal__inner .image-wrap img{max-height:none;}
.modal__centered{position:relative;flex:0 1 auto;min-width:1px;max-width:100%;}
.modal--square .modal__centered-content{max-height:80vh;padding:22.5px;min-width:200px;min-height:200px;overflow:auto;-webkit-overflow-scrolling:touch;}

@media only screen and (min-width:769px){
  .modal--square .modal__centered-content{padding:45px;max-height:90vh;max-width:1200px}
}

.modal__close{border:0;padding:15px;position:fixed;top:0;right:0;color:#fff}

@media only screen and (min-width:769px){
  .modal__close{padding:30px}
}

.modal__close .icon{
    width:28px;
    height:28px;
  }

.modal__close:focus,.modal__close:hover{
    color:#fff;
  }

.modal--square .modal__close{
    position:absolute;
    color:{{ settings.color_body_text | default: "#1c1d1d" }};
    color:var(--colorTextBody);
    padding:10px
}

.modal--square .modal__close:focus,.modal--square .modal__close:hover{
      color:{{ settings.color_body_text | default: "#1c1d1d" }};
      color:var(--colorTextBody);
    }

.modal .page-content,.modal .page-width{
    padding:0;
  }

.popup-cta{
  margin-bottom:15px;
}

@media only screen and (max-width:768px){
  .modal--mobile-friendly{
    top:auto;
    bottom:0;
    overflow:auto
  }

    .modal--mobile-friendly.modal--square .modal__centered-content{
      padding:40px 20px;
    }

    .modal--mobile-friendly.modal--is-active{
      overflow:auto;
    }
      .modal-open .modal--mobile-friendly:before{
        display:none;
      }

    .modal--mobile-friendly .modal__inner{
      margin:0;
    }

    .modal--mobile-friendly .h1{
      padding-right:25px;
    }

    .modal--mobile-friendly input{
      font-size:16px !important;
    }

    .modal--mobile-friendly .text-close{
      display:none;
    }
}